<section id="top-section">
	<div class="container">
		<div class="bottom-page">
			<div class="row">
				<div class="col-md-4 bottom-box1">
					<h4>Business</h4>
					<p>YummyTea@Gmail.com</p>
					<p>111 SW 5th Ave, Portland, OR, 97204</p>
				</div>
				<div class="col-md-3 bottom-box2">
					<ul>
						<li><a href="" class="tabs">About</a></li>
						<li><a href="" class="tabs">Careers</a></li>
						<li><a href="" class="tabs">Ingredients</a></li>
						<li><a href="" class="tabs">Products</a></li>
						<li><a href="" class="tabs">Blog</a></li>
					</ul>
				</div>
				<div class="col-md-5 bottom-box3">
					<p>
						Delivering the most healthy and sustainable products that suit your health schedule, in creating a healthier, better you. We believe that your daily intake is the most important aspect combined with a regular exercise schedule.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 footer-icons">

					<i class="fa fa-facebook"></i>
					<i class="fa fa-instagram"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-tumblr"></i>
					<i class="fa fa-apple"></i>

				</div>
				<div class="col-md-6 disclaimer">
					<p>2016 Yummy Tea INC. All Rights Reserved. Terms Of Use. Privacy Policy.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<style type="text/css">

#top-section {
	background-color:black;
}
	
.bottom-page {
	position: relative;
	width: 100%;
}

.footer {
	position: relative;
	width: 100%;
	padding: 30px;
	background-color: black;
}

.bottom-box1 {
	padding: 20px;
	color:white;
}

.bottom-box2 {
	padding: 20px;
	background-color: black;
	color:white;
}

.bottom-box2 ul li {
	list-style: none;
}

.tabs {
	color: white;	
}

.bottom-box3 {
	text-align: center;
	padding: 20px;
	background-color: black;
	color:white;
}

.footer-icons {
	font-size: 26px;
	color: white;
	letter-spacing: 9px;
}

.disclaimer p {
	float: right;
	display: inline-block;
	padding: 8px;
	color: white;
}

</style>